/*-----------------partie menue----------------------------*/

body {
    padding-top: 0;
    padding-bottom: 3rem;
    background-color: #CFD8DC;
    text-decoration: none;
}
  
.header{
    background-color: #333;
     overflow: hidden;
     
}
  
.menu a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    font-size: 27px;
    margin-left: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
  
.logo {
    float: left; 
    display: block;
}
  
.menu .item:hover {
    background-color:rgb(0, 160, 222);
    color: white;
    text-decoration: none;
}
  
.header .icon {
    display: none;
} 
  
@media screen and (max-width:760px){
    .header .icon{
        display:block;
        position: relative;
        width:50px;
        height:50px;
        float: right;
        z-index: 500;
        margin-right: 30px;
        margin-top: 15px;
    }
      
    .menu{
        z-index: 500;
        position: absolute;
        width:250px;
        right:0;
        top:80px;
        transform: translateX(+250px);
        transition-duration: 0.3s;
    }
    .menu a{
        z-index: 500;
        display: block;
        height:70px;
        width:200px;
        text-align: center;
        line-height: 40px;
        background-color: rgb(78, 78, 78);
        border-bottom:1px solid darkgray;
    }
}
  
.with-sidebar .menu{
    transform: translateX(0);
}


/*-------------------------- partie disigne adresses--------------------------*/

.textTitre {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: white;
    font-size: 40px;
}

.textTitre1, .textTitre2 {
    color: white;
    text-decoration: underline;
    margin-left: 2rem;
}

.textTitre2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}


#tableau {
    background-color: #446483;
    margin-bottom: -3rem;
}

.tableau {
    margin-top: 3rem;
    color: white;
}

.noms1 {
    font-size: 2.5rem;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: solid 2px white;
    border-top: solid 2px white;
}
.noms2 {
    font-size: 2.5rem;
    text-align: center;
    padding-left: 2rem;
    padding-right: 5.5rem;
    border-bottom: solid 2px white;
    border-top: solid 2px white;
}

.images1, .images2 {
    border-bottom: solid 2px white;
    border-top: solid 2px white;
}

.description1, .description2 {
    font-size: 1.2rem;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: solid 2px white;
    border-top: solid 2px white;
}

.adresse1, .adresse2 {
    font-size: 1.2rem;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: solid 2px white;
    border-top: solid 2px white;
}

@media screen and (max-width: 600px) {
    .textTitre {
        text-align: center;
    }

    .textTitre1 {
        margin-left: 3.5rem;
    }

    .textTitre2 {
        margin-top: 3rem;
        margin-left: 3.5rem;
    }
    
    .noms1, .noms2 {
        display: block;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-bottom: none;
        border-top: none;
    }

    .images1 {
        display: block;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-bottom: none;
        border-top: none;
    }
    .images2 {
        display: block;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-bottom: none;
        border-top: none;
    }

    .description1, .description2 {
        display: block;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-bottom: none;
        border-top: none;
    }

    .adresse1, .adresse2 {
        display: block;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-top: none;
        border-bottom: solid 5px white;
    }
}