body {
  padding-top: 0;
  padding-bottom: 3rem;
  background-color: #CFD8DC;
  text-decoration: none;
}

.header{
    background-color: #333;
    overflow: hidden;
   
  }

.menu a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    font-size: 27px;
    margin-left: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

.logo {
    float: left; 
    display: block;
  }

.menu .item:hover {
    background-color:rgb(0, 160, 222);
    color: white;
    text-decoration: none;
  }

.header .icon {
    display: none;
  } 

  @media screen and (max-width:760px){
    .header .icon{
        display:block;
        position: relative;
        width:50px;
        height:50px;
        float: right;
        z-index: 500;
        margin-right: 30px;
        margin-top: 15px;
    }
    
    .menu{
      z-index: 500;
        position: absolute;
        width:250px;
        right:0;
        top:80px;

        transform: translateX(+250px);
        transition-duration: 0.3s;
    }
    .menu a{
      z-index: 500;
        display: block;
        height:70px;
        width:200px;
        text-align: center;
        line-height: 40px;
        background-color: rgb(78, 78, 78);
        border-bottom:1px solid darkgray;
    }
}

.with-sidebar .menu{
        transform: translateX(0);
    }



/*-------------------------Partie Max A-----------------------*/
  
  .carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100% 50%;
    border-radius: 50px;
    height: 40px;
    width: 40px;
  }
  .carousel-control-next-icon {
  background-position-x: 0.6em;
  }
  
  .carousel-control-next-icon:hover, .carousel-control-prev-icon:hover {
    background-color: #777;
  }
  
  .carousel {
    margin-bottom: 0rem;
  }
  
  .carousel-caption {
    z-index: 100;
    bottom: 3rem;
    
  }
  
  .carousel-item {
    height: 48rem;
    background-color: #777;
    z-index: -14;
    align-items: center;
  }
  
  .carousel-item > img {
    position: absolute;
    min-width: 100%;
    height: 48rem;
    filter: brightness(0.5);
  }
  
  .textC {
    z-index: 1;
    padding: 25px;
    margin: 20rem;
    margin-right: 20rem;
    background-color: rgba(0, 0, 0, 0.671);
  }
  
  
  @media (min-width: 40em) {
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .textC {
      padding: 10px;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  
    #first  {
      position: relative;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

/*--------------------------partie Max B------------------------------------*/

.flextext {
  background-color: rgb(68, 100, 131);    
  padding-bottom: 100px;
  padding-top: 100px;
}

.titreflex {
  margin-bottom: 100px;
  margin-left: 20rem; margin-right: 20rem;
  text-align: center;
  color: white;
  border-bottom: solid 2px white;
}

.flex-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
}


.box {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.Activité, .Adresses, .Histoire, .Visite {
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 1s;
    margin-top: -9px;
}

.textVisite {
  display: flex;
  justify-content: center;
  backface-visibility: hidden;
  background-color: rgba(51, 51, 51, 0.808);
  position: absolute;
  width: 100%;
  height: 17%;
  color: white;
  font-size: 40px;
}
.textHistoire {
  display: flex;
  justify-content: center;
  backface-visibility: hidden;
  background-color: rgba(51, 51, 51, 0.801);
  position: absolute;
  width: 100%;
  height: 17%;
  color: white;
  font-size: 40px;
}
.textAdresses {
  display: flex;
  justify-content: center;
  backface-visibility: hidden;
  background-color: rgba(51, 51, 51, 0.801);
  position: absolute;
  width: 100%;
  height: 17%;
  color: white;
  font-size: 40px;
}
.textActivité {
  display: flex;
  justify-content: center;
  backface-visibility: hidden;
  background-color: rgba(51, 51, 51, 0.801);
  position: absolute;
  width: 100%;
  height: 17%;
  color: white;
  font-size: 40px;
}

.textBack {
  font-size: 20px;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

.box:hover .Visite, .box:hover .Adresses, .box:hover .Histoire, .box:hover .Activité {
    transform: rotateY(180deg);
} 

.front, .back1, .back2, .back3, .back4 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    background-color: none;
}

.back1 {
    background-image: url(../images/histoire_tours2.jpeg);
    background-size: cover;
    color: white;
    transform: rotateY(180deg);
}

.back2 {
  background-image: url(../images/visite_tours2.jpeg);
  background-size: cover;
  color: white;
  transform: rotateY(180deg);
}

.back3 {
  background-image: url(../images/activité_tours2.jpeg);
  background-size: cover;
  color: white;
  transform: rotateY(180deg);
}

.back4 {
  background-image: url(../images/adresse_tours2.jpg);
  background-size: cover;
  color: white;
  transform: rotateY(180deg);
}

.link {
    font-size: 20px;
    cursor: pointer;
    margin: 2rem 0 0 10rem;
    color: white;
    text-decoration: underline white;
}

.link:hover {
  text-decoration: underline white;
  color: white;
}

@media screen and (max-width: 600px) {
    .box:hover .Visite, .box:hover .Adresses, .box:hover .Histoire, .box:hover .Activité {
      transform: none;
    }
    .box {
      margin-bottom: 30px;
      margin-left: 35px;
    }

    .flex-container {
      display: flex;
      flex-direction: column;
    }
    .back1, .back2, .back3, .back4 {
      backface-visibility: visible;
    }
    .textBack, .link {
      transform: rotateY(180deg);
    }
}


/*--------------------------partie Leo------------------------------------*/
.footer {
  background-color: #333;
  width: 100%;
  padding-top: 1rem;
  margin-bottom: -100px;
  
}

.text-footer {
border-bottom: solid 3px white;
text-align: center;
margin-bottom: 4rem;
margin-right: 10rem; 
margin-left: 10rem;
text-decoration-style: none;
}

.menu-footer{
  visibility: hidden;
  margin-top: 2rem;
  padding-bottom:2.5rem;
  border-bottom: solid 1px white;
  }

 
.liens-utiles{
margin-left: 25px;
color: white;
}
.carte{
  display: flex;
  justify-content: end;
  margin-right: 10px;
  margin-top: -250px;
}

.items-footer {
text-decoration: none;
color: white;
}

.items-footer:hover {
color: white;
text-decoration: none;
}

.reseaux{
  text-align: center;
  color: white;
  
}
.reseaux1{
  display:flex;
  justify-content: center;
  text-align: center;
}
.contact{
  text-align: center;
  color: white;
}
.copyright{
  color: grey;
  text-align: center;
  
}

.merci{
  text-align: center;
  margin-top: -280px;
  color: rgb(0, 160, 222);
}
#scrollUp
{
position: fixed;
bottom : 15px;
right: -20px;
opacity: 0,7;

}
@media (max-width: 40em) {
 .carte{
   visibility: hidden;
 }
 .liens-utiles{
   
   visibility: hidden;
 }
.menu-footer{
  visibility: visible;
  justify-content: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  
}
}

@media (max-width: 62em) {
  .carte{
   visibility: hidden;
  }
  .liens-utiles{
    
    visibility: hidden;
  }
  .menu-footer{
    visibility: visible;
    justify-content: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
  }
}


/* ----------------------------------------------------CONTACT------------------------------------------------*/

.bg-c {
  background-image: url(../images/toursC1.png);
  background-size: cover;
  padding: 1px 1px 40px 1px;
  margin-bottom: -50px;
}

.boiteForm {

background-color: rgba(51, 51, 51, 0.897);
margin-left: 400px; margin-right: 400px;
padding: 5px 50px 20px 50px;
margin-top: 50px;
border-radius: 10px;
color: white;
}

#contact {
  margin: 2rem;
  font-size: 45px;
  border-bottom: 2px solid rgb(255, 255, 255);
  padding: 10px;
  margin-left: 120px; margin-right: 120px;
  text-align: center;
}

.input {
  margin-top: 15px;
}

.checkbox {
  margin: 3rem;
}

input[type=text], input[type=email], input[type=phone], textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; 
  border-right: none ; border-top: none; border-left: none;
  resize: vertical;
  background-color: rgba(78, 78, 78, 0.705);
  color: white;
  vertical-align: top;
}

label {
  font-size: 20px;
  margin-top: 30px;
}

input[type=checkbox]{
  margin-left: 20px;
  vertical-align: -3px;
}

#infos1, #infos2, #infos3 {
  height: 20px;
  width: 20px;
}

.button {
  margin-top: 25px;
  margin-left: 30.5rem;
  padding: 20px;
}

input[type=submit] {
  border-radius: 10px;
  color: white;
  border: none;
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  font-size: 20px;
  background: linear-gradient(270deg, #00076c, #00817c, #003743, #110070, #3e0070, #700058);
  background-size: 1200% 1200%;
  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  -o-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#error {
  font-size: 20px;
  background-color: rgb(201, 0, 0);
  transition: 0.5s ease;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 3px;
}

#error1 {
  font-size: 20px;
  background-color: rgb(201, 0, 0);
  transition: 0.5s ease;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 3px;
}

#error2 {
  font-size: 20px;
  background-color: rgb(201, 0, 0);
  transition: 2s ease;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 3px;
}