body {
  padding-top: 0;
  padding-bottom: 3rem;
  color: #5a5a5a;
  background-color: #CFD8DC;
  text-decoration: none;
}

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
.topnav a {
    float: left;
    display: block;
    color: rgb(252, 235, 220);
    text-align: center;
    padding: 20px 5px;
    font-size: 27px;
    font-family: cursive;
    margin-left: 60px;
    padding-left: 50px;
    padding-right: 50px;
  }

.logo {
    float: left; 
    display: block;
  }

.topnav .item:hover {
    background-color:rgb(0, 160, 222);
    color: black;
    text-decoration: none;
  }

.topnav .icon {
    display: none;
  } 

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

/*-------------------------Partie Max A-----------------------*/
  
  .carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100% 50%;
    border-radius: 50px;
    height: 40px;
    width: 40px;
  }
  .carousel-control-next-icon {
  background-position-x: 0.6em;
  }
  
  .carousel-control-next-icon:hover, .carousel-control-prev-icon:hover {
    background-color: #777;
  }
  
  .carousel {
    margin-bottom: 0rem;
  }
  
  .carousel-caption {
    z-index: 100;
    bottom: 3rem;
    
  }
  
  .carousel-item {
    height: 48rem;
    background-color: #777;
    z-index: -14;
    align-items: center;
  }
  
  .carousel-item > img {
    position: absolute;
    min-width: 100%;
    height: 48rem;
    filter: brightness(0.5);
  }
  
  .textC {
    z-index: 1;
    padding: 25px;
    margin: 20rem;
    margin-right: 20rem;
    background-color: rgba(0, 0, 0, 0.671);
  }
  
  
  @media (min-width: 40em) {
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .textC {
      padding: 10px;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  
    #first  {
      position: relative;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

/*--------------------------partie Max B------------------------------------*/



.flex-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    background-color: rgb(218, 192, 192);
    padding-bottom: 100px;
    padding-top: 50px;
}

.box {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.Activité, .Adresses, .Histoire, .Visite {
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 1s;
    margin-top: -9px;
}

.textVisite {
  display: flex;
  justify-content: center;
  backface-visibility: hidden;
  background-color: none;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: cursive;
  color: rgb(252, 235, 220);
  font-size: 50px;
}
.textHistoire {
  display: flex;
  justify-content: center;
  backface-visibility: hidden;
  background-color: none;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: cursive;
  color: rgb(252, 235, 220);
  font-size: 50px;
}
.textAdresses {
  display: flex;
  justify-content: center;
  backface-visibility: hidden;
  background-color: none;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: cursive;
  color: rgb(252, 235, 220);
  font-size: 50px;
}
.textActivité {
  display: flex;
  justify-content: center;
  backface-visibility: hidden;
  background-color: none;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: cursive;
  color: rgb(252, 235, 220);
  font-size: 50px;
}

.box:hover .Visite, .box:hover .Adresses, .box:hover .Histoire, .box:hover .Activité {
    transform: rotateY(180deg);
} 

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    background-color: none;
}

.back {
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
    transform: rotateY(180deg);
}

.link {
    font-size: 20px;
    cursor: pointer;
    padding-top: 75px;
    padding-left: 150px;
}

@media screen and (max-width: 600px) {
    .box:hover .Visite, .box:hover .Adresses, .box:hover .Histoire, .box:hover .Activité {
      transform: none;
    }
    .box {
      margin-bottom: 30px;
      margin-left: 35px;
    }

    .flex-container {
      display: flex;
      flex-direction: column;
    }
    .back {
      backface-visibility: visible;
    }
    .textBack, .link {
      transform: rotateY(180deg);
    }
}


/*--------------------------partie Leo------------------------------------*/
.footer {
    margin-left:30px;
    background-color: #333;
}
.carte{
    margin-left:1050px;
    margin-top: -300px;
}
.reseaux{
    text-align: center;
    color: white;
    
}
.reseaux1{
    display:flex;
    justify-content: center;
}
.contact{
    text-align: center;
    color: white;
}
.copyright{
    color: white;
    text-align: center;
}

.merci{
    text-align: center;
    margin-top: -180px;
    color: rgb(0, 160, 222);
}
#scrollUp
{
position: fixed;
bottom : 15px;
right: -20px;
opacity: 0,7;
}




/* ----------------------------------------------------CONTACT------------------------------------------------*/

.bg-c {
  background-image: url(../images/ToursC.jpg);
  background-size: cover;
}

.boiteForm {
text-align: center;
background-color: rgba(156, 156, 156, 0.644);
margin-left: 350px; margin-right: 350px;
padding: 5px 0 20px 0;
margin-top: 100px;
margin-bottom: -60px;
border-radius: 10px;
}

#contact {
  margin: 2rem;
}

.input {
  margin-top: 15px;
}

.checkbox {
  margin: 3rem;
}

input[type=text], input[type=email], input[type=phone], textarea {
  width: 40%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  resize: vertical;
}

input[type=checkbox]{
  margin-left: 30px;
  font-size: 20px;
  vertical-align: -3px;
}

#infos1, #infos2, #infos3 {
  height: 20px;
  width: 20px;
}

.button {
  margin-top: 25px;
  margin-left: 30.5rem;
  padding: 20px;
}

input[type=submit] {
  background-color: #00A0DE;
  border-radius: 10px;
  border: none;
  box-shadow: 15px 0px 18px 10px rgba(140,150,255,1);
  font-size: 20px;
}

#error {
  font-size: 20px;
  background-color: rgb(185, 40, 40);
  transition: 2s ease;
}