.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
.topnav a {
    float: left;
    display: block;
    color: peachpuff;
    text-align: center;
    padding: 10px 40px;
    text-decoration: none;
    font-size: 20px;
  }

.topnav img{
    float: left; 
    margin-right: 200px;
  }

.topnav .item:hover {
    background-color:rgb(0, 160, 222);
    color: black;
  }

.topnav .icon {
    display: none;
  } 

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

/*-------------------------Partie Max A-----------------------*/

body {
    padding-top: 0;
    padding-bottom: 3rem;
    color: #5a5a5a;
    background-color: #CFD8DC;
  }
  
  
  .carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100% 50%;
    border-radius: 50px;
    height: 40px;
    width: 40px;
  }
  .carousel-control-next-icon {
  background-position-x: 0.6em;
  }
  
  .carousel-control-next-icon:hover, .carousel-control-prev-icon:hover {
    background-color: #777;
  }
  
  .carousel {
    margin-bottom: 0rem;
  }
  
  .carousel-caption {
    z-index: 100;
    bottom: 3rem;
    
  }
  
  .carousel-item {
    height: 48rem;
    background-color: #777;
    z-index: -14;
    align-items: center;
  }
  
  .carousel-item > img {
    position: absolute;
    min-width: 100%;
    height: 48rem;
    filter: brightness(0.5);
  }
  
  .textC {
    z-index: 1;
    padding: 25px;
    margin: 20rem;
    margin-right: 20rem;
    background-color: rgba(0, 0, 0, 0.671);
  }
  
  
  @media (min-width: 40em) {
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .textC {
      padding: 10px;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  
    #first  {
      position: ;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

/*--------------------------partie Max B------------------------------------*/



.flex-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    background-color: #333;
    padding-bottom: 100px;
}

.box {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.Activité, .Adresses, .Histoire, .Visite {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 1s;
    margin-top: -9px;
}

h3 {
    text-align: center;
}

.box:hover .Visite, .box:hover .Adresses, .box:hover .Histoire, .box:hover .Activité {
    transform: rotateY(180deg);
} 

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    background-color: none;
}

.back {
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
    transform: rotateY(180deg);
}

.link {
    font-size: 20px;
    cursor: pointer;
    padding-top: 75px;
    padding-left: 150px;
}

.textHistoire:hover, .textVisite:hover, .textActivité:hover, .textAdresses:hover {
    background-color: rgb(0, 160, 222);
}

@media all {

}

/*--------------------------partie Leo------------------------------------*/
.footer {
    margin-left:30px ;
    
}
.carte{
    margin-left:1050px ;
    margin-top: -300px;
}
.reseaux{
    text-align: center;
    
}
.reseaux1{
    display:flex;
    justify-content: center;
}
.contact{
    text-align: center;
}
.copyright{
    color:grey;
    text-align: center;
}

.merci{
    text-align: center;
    margin-top: -180px;
}
#scrollUp
{
position: fixed;
bottom : 15px;
right: -20px;
opacity: 0,7;
}